<!-- control bar -->
<div class="control-bar col-xs-12" ng-init="selection = 'data'">
    <ul class="control-bar-left">
        <li><span class="control-icon grid-ico-graph" ></span>Data</li>
    </ul>
    <ul class="control-bar-right">
        <li><span class="control-icon grid-ico-print" ng-click="printer()" alt="Print page"></span></li>
    </ul>
</div>

<!-- container for dashboard view -->
<div class="grid-content col-xs-12">


    <!-- graph panel -->
    <div class="dashboard-graph" ng-show="selection === 'data'">
        <!-- header -->
        <h1>User List</h1>


        <div class="form-group required-control">
            <div class="col-md-12">    
                <div class="table-responsive gaEditTable">
                    <table class="table table-bordered grid-table">
                        <thead>
                            <tr class="tableHeader">
                                <th class="col-md-1">#</th>
                                <th class="col-md-2">Picture</th>
                                <th class="col-md-3">First Name</th>
                                <th class="col-md-3">Last Name</th>                             
                                <th class="col-md-3">Title</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td> </td>
                                <td><search-text-field filtermodel="firstnamefilter"></search-text-field></td>
                        <td><search-text-field filtermodel="lastnamefilter"></search-text-field> </td>
                        <td><search-text-field filtermodel="titlefilter"></search-text-field></td>
                        <tr>    
                            </thead>

                        <tbody ng-init="pageSize = 10">
                            <tr ng-repeat="user in userList| fieldFilter:'firstName':firstnamefilter | fieldFilter:'lastName':lastnamefilter | fieldFilter:'Title':titlefilter | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize">
                                <td>{{$index + (currentPage === undefined ? 0 : currentPage - 1) * pageSize + 1}}</td>    
                                <td><img ng-src="{{user.picture}}" class="userpic"/></td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.Title}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="(userList | filter:firstnamefilter).length" items-per-page="10" page="currentPage"></pagination>
            </div>
        </div>
    </div>
</div>
