<div id="Login">
	<div class="login-container">
		<form name="loginForm" class="form-horizontal"  novalidate>
			<fieldset>
			
			<!-- Form Name -->

                        <img height="62px" style="margin-bottom: 20px" ng-src="{{PROJECT_LOGO}}" alt="{{PROJECTSUBJECT}}"/>
			
			<!-- Text input-->
			<div class="form-group">
			  <div >
			  <input id="txtUsername"  ng-model="username" type="text" placeholder="username" class="form-control input-lg" required>
			  <span class="help-block hide">Please enter your username</span>  
			  </div>
			</div>
			
			<!-- Password input-->
			<div class="form-group">
			  <div >
			    <input id="txtPassword" ng-model="password" type="password" placeholder="password" class="form-control input-lg"  required>
			    <span class="help-block hide">Please enter your password</span>
			  </div>
			</div>
			
			<!-- Error message-->
			<div class="form-group">
			  <div >
			    <div class="error-message">{{errorMessage}}</div>
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
			  <div >
			    <button class="btn btn-default btn-info btn-lg btn-block" ng-disabled="loginForm.$invalid" ng-click="login()"><span class="glyphicon glyphicon-ok" ng-class="fetching ? 'glyphicon-refresh icon-refresh-animate' : 'glyphicon-ok'" ></span></button>
			  </div>
			</div>
                        
                        <div class="form-group">
                            <div class="register-link col-xs-6" >Register now </div>
                            <div class="getpin-link pull-right col-xs-6" >Forget your PIN?</div>
                        </div>

			</fieldset>
		</form>
	</div>
  
</div>
