<div class="navbar navbar-fixed-top grid-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span>
                <img height="60px" src="./images/logo2.png" alt="{{PROJECTSUBJECT}}"/>
            </span>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right grid-nav-pages">
                <li ng-class="{active: selectedNav === 'dashboard'}"><a ui-sref="main.dashboard.overview">Dashboards</a></li>
                <li ng-class="{active: selectedNav === 'manage'}"><a>Manage</a></li>
                <li>
                    <span  ng-click="showMenu = !showMenu" class="settingsNav grid-ico-cogs">
                        <ul id="menu-settings" ng-class="{ 'nav-hidden': !showMenu }"  ng-mouseleave="showMenu = false" >
                            <li class="menu-item-about">
                                <span class="grid-ico-light-bulb"></span>About
                            </li>
                            <li class="menu-item-logout" ng-click="logout()">
                                <span class="grid-ico-logout"></span>Logout
                            </li>
                        </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" ui-view></div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="mainviewspinner"></span>
